<html>
    <head>
        <!-- <script src="./scoresScraper.js"></script> -->
        <link rel="stylesheet" type="text/css" href="./css/style.css" />
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="/ncaa/">Home</a></li>
                <li><a href="/ncaa/scores">Scores</a></li>
                <li><a href="/ncaa/about">About</a></li>
            </ul>
        </nav>
        <br>
        Filter:  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Games" title="Type in a name">
        <h1>
            2019 NCAA Basketball Tournament Scores
        </h1>

        <div class="column-container">
            <div class='column'>
                <div class="title">Round 1 </div>
                <ul>
                    <% round1Games.map((round1Game)=>{%>
                        <li> <%= round1Game.winner %> <b><%= round1Game.winningScore %> </b>,  <%= round1Game.loser %> <%= round1Game.losingScore %> </li>
                    <%}) %>
                </ul>
            </div>

            <div class='column'>
                <div class="title">Round 2 </div>
                <ul>
                    <% round2Games.map((round2Game)=>{%>
                        <li> <%= round2Game.winner %> <b><%= round2Game.winningScore %> </b>,  <%= round2Game.loser %> <%= round2Game.losingScore %> </li>
                        <%}) %>
                    </ul>
            </div>

            <div class='column'>
                    <div class="title">Round 3 </div>
            <ul>
                <% round3Games.map((round3Game)=>{%>
                    <li> <%= round3Game.winner %> <b><%= round3Game.winningScore %> </b>,  <%= round3Game.loser %> <%= round3Game.losingScore %> </li>
                <%}) %>
            </ul>
            </div>

            <div class='column'>
                <div class="title">Round 4 </div>
            <ul>
                <% round4Games.map((round4Game)=>{%>
                    <li> <%= round4Game.winner %> <b><%= round4Game.winningScore %> </b>,  <%= round4Game.loser %> <%= round4Game.losingScore %> </li>
                <%}) %>
            </ul>
            </div>

            <div class='column'>
                <div class="title">Final Four and Championship Winner</div>
                <ul>
                    <li> <%= finalGames[0].winner %> <b><%= finalGames[0].winningScore %> </b>,  <%= finalGames[0].loser %> <%= finalGames[0].losingScore %> </li>
                    <li> <%= finalGames[1].winner %> <b><%= finalGames[1].winningScore %> </b>,  <%= finalGames[1].loser %> <%= finalGames[1].losingScore %> </li>
                </ul>
            </div>
        </div>

    <script>

        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.querySelector(".column-container");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                // a = li[i].getElementsByTagName("li")[0];
                a = li[i];
                // console.log(a);
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {  
                    // console.log(li);
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
        
    </script>

    </body>
</html>